/* .feature-card:hover .stripe{
    opacity: 1;
} */

/* .feature-card:hover .card1{
    box-shadow: 2px 2px 5px 3px red;
} */

.corefeaturesection{
    background-size: 100% 100%;
    padding-bottom: 16rem;
}

.moveImage{
    animation: 10s infinite linear movecompany;
}

@keyframes movecompany{
    0%{
        top: 0;
    }
    100%{
        top: -50%;
    }
}

@media (min-width:1024px){
    .lastsection{
        background-size: 100% 100%;
    }
}

.link-section a:hover{
    color: black;
    transition: all 200ms;
}

.link-section a{
    color: #0b72e7;
}

@media (min-width:1024px){
    .unorder{
        display: hidden;
    }
}